<style>
/*user profile*/
.profile-image  {
padding-top: 0px;
padding-bottom: 0px;
}
/*
* Navbar
*/
/*.navbar-top {
margin-bottom: 0px;
background-color: #428bca;
border-color: #3174b0;
}
.navbar-top .navbar-brand {
color: #ffffff;
}
.navbar-top .navbar-brand:hover, .navbar-top .navbar-brand:focus {
color: #ecf0f1;
}
.navbar-top .navbar-text {
color: #ffffff;
}
.navbar-top .navbar-nav > li > a {
color: #ffffff;
}
.navbar-top .navbar-nav > li > a:hover, .navbar-top .navbar-nav > li > a:focus {
color: #ecf0f1;
background-color: #3174b0;
}
.navbar-top .navbar-nav > .active > a, .navbar-top .navbar-nav > .active > a:hover, .navbar-top .navbar-nav > .active > a:focus {
color: #ecf0f1;
background-color: #3174b0;
}
.navbar-top .navbar-nav > .open > a, .navbar-top .navbar-nav > .open > a:hover, .navbar-top .navbar-nav > .open > a:focus {
color: #ecf0f1;
background-color: #3174b0;
}
.navbar-top .navbar-toggle {
border-color: #3174b0;
}
.navbar-top .navbar-toggle:hover, .navbar-top .navbar-toggle:focus {
background-color: #3174b0;
}
.navbar-top .navbar-toggle .icon-bar {
background-color: #ffffff;
}
.navbar-top .navbar-collapse,
.navbar-top .navbar-form {
border-color: #ffffff;
}
.navbar-top .navbar-link {
color: #ffffff;
}
.navbar-top .navbar-link:hover {
color: #ecf0f1;
}*/
/*@media (max-width: 767px) {
.navbar-top .navbar-nav .open .dropdown-menu > li > a {
color: #ffffff;
}
.navbar-top .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-top .navbar-nav .open .dropdown-menu > li > a:focus {
color: #ecf0f1;
}
.navbar-top .navbar-nav .open .dropdown-menu > .active > a, .navbar-top .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-top .navbar-nav .open .dropdown-menu > .active > a:focus {
color: #ecf0f1;
background-color: #3174b0;
}*/
}
</style>
<nav class="navbar navbar-inverse navbar-fixed-top" style="">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'vim:list' %}" style="padding-top:18px;font-size:xx-large; font-family: 'Clicker Script', cursive;">Web Sikhshalaya</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-3">
            <ul class="nav navbar-nav navbar-right text-center" style="padding-top:4px;" >
                <li><a href="{% url 'sitemap' %}">Sitemap</a></li>
                <li><a href="{% url 'resource' %}">Resource</a></li>
                <li><a href="{% url 'contact' %}">Support</a></li>
                <li><a href="#">Rss</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
                        <img src="http://wfarm2.dataknet.com/static/resources/icons/set3/c9f1cdf473a8.png" width="20"
                    height="18"class="img-circle"> Sandesh Rana <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'detail' %}"><i class="fa fa-cog"></i> Account</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Sign-out</a></li>
                    </ul>
                </li>
                <!-- <li><a href="{% url 'register' %}">SignUp</a></li> -->
            </ul>
            </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
            </nav><!-- /.navbar -->