{% extends "base.html" %}

{% block content%}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <style>
  body{
  padding-top:25px !important;
  }
  .stats {
  text-align:center;
  text-shadow:1px 1px 0px #fff;
  margin-top:25px;
  }
  .stats li{
  width:125px;
  }
  .stats span{
  font-family:Helvetica;
  font-weight:bold;
  text-shadow:1px 1px 0px #fff;
  font-size:4em;
  display:block;
  line-height:1em;
  }
  /* Large desktop */
  @media (min-width: 1200px) {
  }
  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) {
  }
  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {
  .profile img{
  width:75px;
  }
  .profile h2{
  font-size:1.7em;
  }
  .stats span{
  font-size: 2em;
  }
  }
  /* Landscape phones and down */
  </style>
  <div class="container profile">
    <div class="row">
      <div class="span12">
        <div class="well well-small clearfix">
          <div class="row-fluid">
            <div class="span2">
              <img src="https://avatars2.githubusercontent.com/u/17888497?v=3&amp;s=160" width="250" class="img-polaroid"/>
            </div>
            <div class="span4">
              <h2>Sandesh Rana</h2>
              <ul class="unstyled">
                <li><i class="icon-phone"></i>&nbsp;123-456-789</li>
                <li><i class="icon-envelope"></i>&nbsp;vimmrana0@gmail.com</li>
                <li><i class="icon-globe"></i>&nbsp;http://vimm0.github.io</li>
              </ul>
            </div>
            <div class="span6">
              <ul class="inline stats">
                <li>
                  <span>275</span>
                  Friends
                </li>
                <li>
                  <span>354</span>
                  Followers
                </li>
                <li>
                  <span>186</span>
                  Photos
                </li>
              </ul>
              <div>
              </div>
            </div>
           </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container profile">
    <div class="row">
      <div class="span12">
        <div class="well well-small clearfix">
          <div class="row-fluid">
              
             <!--  <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Sandesh Rana</h3>
                </div>
                <div class="panel-body">
                  <h6>Web Enthusiast</h6>
                </div>
              </div> -->
              <h3>Recommendations</h3>
              <h3>Participations and Involvements</h3>
              <h3>History</h3>
              <h3>Timeline</h3>
              <h6>About yourself</h6>
              <p>Maps are combination of keys and values in which keys are used to represent the values.
Maps define values into groups and can be accessed dynamically. You can write a map Maps define values into groups and can be accessed dynamically. You can write a map Maps define values into groups and can be accessed dynamically. You can write a map Maps define values into groups and can be accessed dynamically. You can write a map Maps define values into groups and can be accessed dynamically. You can write a map Maps define values into groups and can be accessed dynamically. You can write a map
expression as</p>
              <button href="#" class="btn btn-default">edit</button>
              </div>
            </div>
            <!--Body content-->
                </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="span12">
    
  </div> -->
  
  <!-- <div class="container">
    <div class="row">
      <div class=" col-md-4 col-lg-4" style="margin-top:3em;">
        <a href="/account"><img alt="" height="230" src="https://avatars2.githubusercontent.com/u/17888497?v=3&amp;s=160" width="250"></a>
        <p><ul style="list-style:none;">
          <li><h1><span>Sandesh</span></h1></li>
          <li style="color:#777;"><span>vimm0</span></li>
        </ul></p>
      </div>
      <div class="user-profile-bio"><div>web Developer</div></div>
      <ul class="">
        <li>
          <a href="https://github.com/Awecode">@Awecode</a>
        </li>
        <li title="Kathmandu,Nepal">Kathmandu,Nepal
        </li>
        <li>
          <a href="mailto:vimmrana0@gmail.com">vimmrana0@gmail.com</a>
        </li1
        <li>
          <a href="https://vimm0.github.io/">https://vimm0.github.io/</a>
        </li>
      </ul>
    </div>
  </div>
  <div class=" col-md-8 col-lg-8" style="margin-top:3em;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sandesh Rana</h3>
      </div>
      <div class="panel-body">
        <h6>Web Enthusiast</h6>
      </div>
    </div>
    <dl class="dl-horizontal">
      <dt>Description lists</dt>
      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
      </dd>
      <dt>Description lists</dt>
      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
      </dd>
      <dt>Description lists</dt>
      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
      </dd>
      <dt>Description lists</dt>
      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
      </dd>
      <dt>Description lists</dt>
      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
      </dd>
    </dl>
  </div>
</div>
</div> -->
{% endblock content%}