appdirs==1.4.3
chardet==3.0.4
chrome-gnome-shell==0.0.0
cupshelpers==1.0
idna==2.6
isc==2.0
louis==3.3.0
packaging==16.8
psutil==5.4.1
pycairo==1.15.4
pycups==1.9.73
pycurl==7.43.0.1
pygobject==3.26.1
pyparsing==2.2.0
pysmbc==1.0.15.8
pyxdg==0.25
ranger==1.8.1
Reflector==2017.11.26.21.59.10
requests==2.18.4
six==1.11.0
team==1.0
termcolor==1.1.0
urllib3==1.22
virtualenv==15.1.0
youtube-dl==2017.11.15
