@import "variables";

.body-wrapper{
    font-size: 1rem;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: $brand-primary;
    color:$head-text;
    &-title{font-size:.85rem;}
    & a {color:$head-text;}
}
nav {
    background-color:$brand-primary;
}
.navbar > .media > .media-body > .nav-title {
    color:$head-text;
    text-decoration:none;
    & a{color:$head-text;text-decoration:none;}
}

ul.navbar-nav li a.url-item {
    color:$head-text;
}

h4{
    &.header{color: $brand-primary;}
    &.content-head > a{color:$head-text;}
}
p.content-head > a {
    color:$head-text;
}

h5{
    &.gallery-header > a{color: $title-black;}
    &.text-center a{font-size:0.7rem;color: $brand-primary;}
    &#download-heading{color: crimson;}
}

div{
    &#notice-body li.title-item a{color:$title-black;}
    &#publication-body li.title-item a{color:$title-black;}
    &#download-body li.title-item a{color:$title-black;}
    & a.social-item{color:$title-black;}
}

table {
    & > thead tr th{font-weight:300}
    & > tbody tr td {
    &.employee{font-size:.65rem;}
    }
}

.subheader a{
    color:$title-black;
}

img.profile{
    height:7rem;width:7.5rem;
}

#map-canvas {
    height: 400px;
}

.main-body {
    font-family: 'Montserrat', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    color: #e5e5e5;
    font-size: 12px;
    text-align: center;
    & > a {color: #3e3e3e;text-decoration: none;}
    & > div {margin-top: 18%;}
}

.body-wrapper {margin-bottom: 12rem;}

.list-group-item.head {
    background-color: $brand-primary;
}

.navbar {
    background-color: $brand-primary;
}

a{
    color: $brand-primary;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #97b2ce;
    border-color: #97b2ce;
}

.btn-outline-primary {
    color: rgba(2,117,170,.92);
    background-color: transparent;
    background-image: none;
    border-color: rgba(2,117,170,.92);
}