@import "variables";
// body
body{
font-family: $font-stack;
}

a:hover, a:focus {
    color: #000;
    text-decoration: none;
}

// sidebar.html
.custom-shadow{
box-shadow: 1px -1px 9px 2px rgba(211, 211, 211, 0.2), 1px 1px 17px 2px rgba(93, 76, 76, 0.19);
}
.card-border{
border:0;
}
.github-note{
font-size:0.9rem;
font-family: $font-note;
}
.custom-bullet{
list-style:none;
}

// post_list.html
small {
font-size: 63%;
font-weight: 500;
}

// form.html
  .center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  }
  .center.responsive {
  background-color:rgba(255, 255, 255, 0.13);
  width: 50em;
  height: 50em;
  min-width: 280px;
  max-width: 400px;
  padding-right: 40px;
  padding-left: 40px;
  }
form > div.alert.alert-block.alert-danger > ul {
  list-style-type: none;
  text-align: center;
}
.brand{
font-size:xx-large;
font-family: $font-brand;
}

// Signup.html
.help-text{
display: none;
}
.form-error{
color: red;
}

// post-detail.html
h1.post-detail-topic{
color:$brand-primary;
}
.post-detail-topic-status{
color:red;
}
div.post-meta{
color:#999;
font-size: 13px;
line-height:0.4em;
font-family: 'Raleway', sans-serif;
}
.meta-list-item{
display:inline;
list-style:none;
}
.meta-list-item-link{
text-decoration:none;
}
.author-link{
color:$brand-primary;
}
.comment-form{
color:#777;
}

// sitemap.html
.post ul li {
    background: #FAFAFA;
    color:#777;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #fff;
    padding: 2px;
    padding-left: 5px;
    list-style: decimal;
    }
.post ul li a{
color:$brand-primary;
}

// contact.html
.contact-form {
margin-top:70px;
}