$brand-primary: #4285F4;


$font-stack: 'Rubik', sans-serif;
$font-note: 'Raleway', sans-serif;

$font-brand: 'Clicker Script', cursive;

$fa: FontAwesome;


$enable-rounded:false;	
$enable-shadows:true;