{% extends "official_index.html" %}
{% block ocontent %}

<!-- <style>
	.bigline{
		color: #2D892D;
	margin: 5px 0 15px 0;
	font-size: 18px;
	font-weight: 200;
	line-height: 24px;
	}
	.pill_menu {
	width: 200px;
	list-style: none;
	padding: 0;
	margin: 0;
	}
	.about-support-note {
	width: 178px;
	margin-top: 20px;
	padding: 10px;
	border: 1px solid #eee;
	border-radius: 4px;
	}
	#page_about .people {
	margin-top: 35px;
	margin-bottom: 10px;
	}
	.page-header{
		border-bottom: 1px solid #ddd;
		box-shadow: 0 1px 0 rgba(255,255,255,0.5);
	}
	p {
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	margin-bottom: 9px;
	}
	.person {
	width: 600px;
	margin-top: 5px;
	color: #444;
	font: 1.0em/1.5 Arial,sans-serif;
	}
	.person img {
	width: 120px;
	height: 120px;
	float: right;
	margin-left: 20px;
	background-color: #eee;
	padding: 7px;}
	.span10 ul li a, .span10 p a{
	color:#4285F4;
	}
	.span2 p a{
		color:#4285F4;
	}
	.table tbody tr td a{
		color:#4285F4;
	}
	.pill_menu li.active a {
	font-weight: bold;
	background-color: #eee!important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
	.pill_menu li a {
	width: 180px;
	display: block;
	padding: 5px 10px;
	</style> -->

	<div class="container">
		<div class="row">
			<div class=" col-md-8 col-lg-8">
				<h3>faksdjfl aksdjl</h3>
				<p class="bigline">Web Sikhshalaya is a place where people are gathering to deliver quality IT education. Generally, People who have intrest in the programming.</p>
				<p class="">Web Sikhshalaya is beginning to reach wide-spread adoption amongst dvelopers and many have expressed their desire for providing their research through this platform. This place was created to solve the problem of programmer and give some research stuff. Here, we intrest to provide quality education through research and education.</p>
				<p><strong>Web Sikhshalaya was launched February 10th, 2017.</strong></p>
				<div class="page-header people" >
					<h2>Let me introduce myself…</h2>
				</div>
				<h3>Mr. Sandesh Rana <small>CEO &amp; Founder, Web Shikshalaya</small></h3>
				<p class="person"><img src="http://pbs.twimg.com/profile_images/720871336189382656/AY1spyqQ_normal.jpg" width="120" height="120" alt="Vimm0" title="Sandesh Rana">
					Hi! My name is Sandesh Rana, and I have a bachelor’s degree in computer science. I love academic work: my research was published in several prestigious conferences. But I have to admit: learning computer science from traditional textbooks was tough. How on Earth can anyone who’s not a full-time academic researcher learn from these books? No wonder most people don’t even learn even the basics of computer science.&nbsp;<a href="https://vimm0.github.io" title="vimm0">Vimm0</a>.</p>
					<div class="page-header thanks">
						<h2>Special Thanks</h2>
					</div>
					<p style="margin-bottom: 15px;">WrapBootstrap would like to thank the authors of components that have gone into the making of this site. Their contributions have helped make it great. Check them out!</p>
					<table class="table bordered-table zebra-striped">
						<thead>
							<tr>
								<th>Component</th>
								<th>Author(s)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#" title="Glyphicons" target="_b3lank" rel="nofollow">Django</a></td>
								<td><a href="#" title="Sandesh Rana" target="_blank" rel="nofollow">Sandesh Rana</a></td>
							</tr>
							<tr>
								<td><a href="#" title="Python" target="_blank" rel="nofollow">Python</a></td>
								<td><a href="#" title="Vimm0" target="_blank" rel="nofollow">Vimm0</a></td>
							</tr>
							<tr>
								<td><a href="#" title="Twitter Bootstrap" target="_blank" rel="nofollow">Bootstrap</a></td>
								<td><a href="#" title="@mdo" target="_blank" rel="nofollow">Rabin Shah</a> and <a href="#" title="@fat" target="_blank" rel="nofollow">Bikash Chaudhary</a></td>
							</tr>
							<tr>
								<td><a href="#" title="News" target="_blank" rel="nofollow">News</a></td>
								<td><a href="#" title="Shyam Giri" target="_blank" rel="nofollow">Shyam Giri</a></td>
							</tr>
							<tr>
								<td><a href="#" title="Php" target="_blank" rel="nofollow">Php</a></td>
								<td><a href="#" title="Rohan" target="_blank" rel="nofollow">Rohan Pandey</a> and <a href="#" title="@fat" target="_blank" rel="nofollow">Abiral sapkota</a></td>
							</tr>
							<tr>
								<td><a href="#" title="Security" target="_blank" rel="nofollow">Security</a></td>
								<td><a href="#" title="Ayush gurung" target="_blank" rel="nofollow">Ayush gurung</a></td>
							</tr>
						</tbody>
					</table>
					<p class="about-support-note"><b>Looking for support?</b> The fastest way to get help is by sending a <a href="{% url 'contact' %}">support request</a>.<br><br><b>General inquiries:</b><br><a href="mailto:vimmrana0@gmail.com">vimmrana0@gmail.com</a></p>
				</div>			
			</div>
		</div>
	{% endblock ocontent %}