{% extends "base.html" %}
{% block content %}

<!-- <style>
	.bigline{
		color: #2D892D;
	margin: 5px 0 15px 0;
	font-size: 18px;
	font-weight: 200;
	line-height: 24px;
	}
	.pill_menu {
	width: 200px;
	list-style: none;
	padding: 0;
	margin: 0;
	}
	.about-support-note {
	width: 178px;
	margin-top: 20px;
	padding: 10px;
	border: 1px solid #eee;
	border-radius: 4px;
	}
	#page_about .people {
	margin-top: 35px;
	margin-bottom: 10px;
	}
	.page-header{
		border-bottom: 1px solid #ddd;
		box-shadow: 0 1px 0 rgba(255,255,255,0.5);
	}
	p {
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	margin-bottom: 9px;
	}
	/*#page_about .person {
	width: 600px;
	margin-top: 5px;
	color: #444;
	font: 1.0em/1.5 Arial,sans-serif;
	}*/
	.person {
	width: 600px;
	margin-top: 5px;
	color: #444;
	font: 1.0em/1.5 Arial,sans-serif;
	}
	.person img {
	width: 120px;
	height: 120px;
	float: right;
	margin-left: 20px;
	background-color: #eee;
	padding: 7px;}
	.span10 ul li a, .span10 p a{
	color:#4285F4;
	}
	.span2 p a{
		color:#4285F4;
	}
	.table tbody tr td a{
		color:#4285F4;
	}
	.pill_menu li.active a {
	font-weight: bold;
	background-color: #eee!important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
	.pill_menu li a {
	width: 180px;
	display: block;
	padding: 5px 10px;
	</style>
 -->
	<div class="container">
		<div class="row">

			<div class=" col-md-8 col-lg-8">
						
				<div class="page-header">
						<h2>Our privacy policy</h2>
					</div>
					<p>WrapBootstrap does not share personal information of any kind with anyone. We will not sell or rent your name or personal information to any third party. We DO NOT sell, rent or provide outside access to our mailing list or any data we store. Any data that a user stores via our facilities is wholly owned by that user or business. At any time a user or business is free to take their data and leave, or to simply delete their data from our facilities.</p>
					<p>WrapBootstrap only collects such personal information that is necessary for you to access and use our services. This personal information includes, but is not limited to, first and last name, physical address, zip code, email address, phone number, social security number, birth date, credit card information, financial information, and other personal information necessary to generate proper legal documents.</p>
					<p>WrapBootstrap may release personal information if WrapBootstrap is required to by law, search warrant, subpoena, court order or fraud investigation. We may also use personal information in a manner that does not identify you specifically nor allow you to be contacted but does identify certain criteria about our Site's users in general (such as we may inform third parties about the number of registered users, number of unique visitors, and the pages most frequently browsed).</p>
					<div class="page-header changes">
						<h2>Policy changes</h2>
					</div>
					<p>If we change our privacy policy we will post those changes on this page. Registered users will be sent an email that outlines changes made to the privacy policy.</p>
					
					<p><strong>Last updated:</strong> January 26th, 2012</p>
					<p class="about-support-note"><b>Looking for support?</b> The fastest way to get help is by sending a <a href="{% url 'web_sikhshalaya:contact' %}">support request</a>.<br><br><b>General inquiries:</b><br><a href="mailto:vimmrana0@gmail.com">vimmrana0@gmail.com</a></p>
					<div class="page-header thanks">
						<h2>Special Thanks</h2>
					</div>
					<p style="margin-bottom: 15px;">WrapBootstrap would like to thank the authors of components that have gone into the making of this site. Their contributions have helped make it great. Check them out!</p>
					<table class="table bordered-table zebra-striped">
						<thead>
							<tr>
								<th>Component</th>
								<th>Author(s)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#" title="Glyphicons" target="_b3lank" rel="nofollow">Django</a></td>
								<td><a href="#" title="Sandesh Rana" target="_blank" rel="nofollow">Sandesh Rana</a></td>
							</tr>
							<tr>
								<td><a href="#" title="Python" target="_blank" rel="nofollow">Python</a></td>
								<td><a href="#" title="Vimm0" target="_blank" rel="nofollow">Vimm0</a></td>
							</tr>
							<tr>
								<td><a href="#" title="Twitter Bootstrap" target="_blank" rel="nofollow">Bootstrap</a></td>
								<td><a href="#" title="@mdo" target="_blank" rel="nofollow">Rabin Shah</a> and <a href="#" title="@fat" target="_blank" rel="nofollow">Bikash Chaudhary</a></td>
							</tr>
							<tr>
								<td><a href="#" title="News" target="_blank" rel="nofollow">News</a></td>
								<td><a href="#" title="Shyam Giri" target="_blank" rel="nofollow">Shyam Giri</a></td>
							</tr>
							<tr>
								<td><a href="#" title="Php" target="_blank" rel="nofollow">Php</a></td>
								<td><a href="#" title="Rohan" target="_blank" rel="nofollow">Rohan Pandey</a> and <a href="#" title="@fat" target="_blank" rel="nofollow">Abiral sapkota</a></td>
							</tr>
							<tr>
								<td><a href="#" title="Security" target="_blank" rel="nofollow">Security</a></td>
								<td><a href="#" title="Ayush gurung" target="_blank" rel="nofollow">Ayush gurung</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	{% endblock content %}