{% extends "base.html" %}
{% block content %}
<!-- 	<style>
		.bigline{
			color: #2D892D;
		margin: 5px 0 15px 0;
		font-size: 18px;
		font-weight: 200;
		line-height: 24px;
		}
		.pill_menu {
		width: 200px;
		list-style: none;
		padding: 0;
		margin: 0;
		}
		.about-support-note {
		width: 178px;
		margin-top: 20px;
		padding: 10px;
		border: 1px solid #eee;
		border-radius: 4px;
		}
		#page_about .people {
		margin-top: 35px;
		margin-bottom: 10px;
		}
		.page-header{
			border-bottom: 1px solid #ddd;
			box-shadow: 0 1px 0 rgba(255,255,255,0.5);
		}
		p {
		font-size: 13px;
		font-weight: normal;
		line-height: 18px;
		margin-bottom: 9px;
		}

		.person {
		width: 600px;
		margin-top: 5px;
		color: #444;
		font: 1.0em/1.5 Arial,sans-serif;
		}
		.person img {
		width: 120px;
		height: 120px;
		float: right;
		margin-left: 20px;
		background-color: #eee;
		padding: 7px;}
		.span10 ul li a, .span10 p a{
		color:#4285F4;
		}
		.span2 p a{
			color:#4285F4;
		}
		.table tbody tr td a{
			color:#4285F4;
		}
		.pill_menu li.active a {
		font-weight: bold;
		background-color: #eee!important;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		}
		.pill_menu li a {
		width: 180px;
		display: block;
		padding: 5px 10px;
	</style> -->
	<div class="container">
		<div class="row">
			
			<div class=" col-md-8 col-lg-8">
				
				<div class="page-header">
					<h2>1. General Terms</h2>
				</div>
				<p><strong>1.1</strong> By accessing and placing an order with WrapBootstrap, you confirm that you are in agreement with and bound by the terms and conditions contained in the Terms Of Use outlined below. These terms apply to the entire website and any email or other type of communication between you and WrapBootstrap.</p>
				<div class="page-header term">
					<h2>2. Products</h2>
				</div>
				<p><strong>2.1</strong> All products and services are delivered by WrapBootstrap electronically to your email address.</p>
				<p><strong>2.2</strong> WrapBootstrap is not responsible for any technological delays beyond our control. If your spam blocker blocks our emails from reaching you or you do not provide a valid email address where you can be reachable then you can access your download from the Purchases page.</p>
				<div class="page-header term">
					<h2>3. Security</h2>
				</div>
				<p><strong>3.1</strong> WrapBootstrap does not process any order payments through the website. All payments are processed securely through PayPal, a third party online payment provider. Feel free to contact us about our security policies.</p>
				
				<div class="page-header term">
					<h2>4. Refunds</h2>
				</div>
				<p><strong>4.1</strong> You have 24 hours to inspect your purchase and to determine if it does not meet with the expectations laid forth by the seller. In the event that you wish to receive a refund, WrapBootstrap will issue you a refund and ask you to specify how the product failed to live up to expectations.</p>
				
				<div class="page-header term">
					<h2>5. Ownership</h2>
				</div>
				<p><strong>5.1</strong> Ownership of the product is governed by the usage license selected by the seller.</p>
				<div class="page-header changes">
					<h2>Changes to terms</h2>
				</div>
				<p>If we change our terms of use we will post those changes on this page. Registered users will be sent an email that outlines changes made to the terms of use.</p>
				<p class="about-support-note"><b>Looking for support?</b> The fastest way to get help is by sending a <a href="{% url 'web_sikhshalaya:contact' %}">support request</a>.<br><br><b>General inquiries:</b><br><a href="mailto:vimmrana0@gmail.com">vimmrana0@gmail.com</a></p>
			</div>
		</div>
	</div>
{% endblock content %}