{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  .center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  }
  .center.responsive {
  background-color:rgba(255, 255, 255, 0.13);
  width: 50em;
  height: 50em;
  min-width: 280px;
  max-width: 400px;
  padding-right: 40px;
  padding-left: 40px;
  }
form > div.alert.alert-block.alert-danger > ul {
  list-style-type: none;
  text-align: center;
}
</style>
<div class="container">
    <h3 class="d-block mx-auto mt-4" style="font-size:xx-large; font-family: 'Clicker Script', cursive;"></i>Web Sikhshalaya</h3>
    <div class="row d-block mx-auto">
        <h1>{{ title }}</h1>
        <hr/>
        <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
            {{ form|crispy }}
            <input type='submit' class='btn btn-default' value='{{ title }}'/>
        </form>
    </div>
</div>
{% endblock content %}